@import url('https://fonts.googleapis.com/css?family=Roboto:700');
body{
  font-family:'Roboto';
}
*{
  margin: 0;
  padding: 0;
}
.center{
  position: absolute;
  top: 5%;
  left: 5%;
  transform: translate(-5%, -5%);
  width: 100%;
}
.center h1{
  user-select: none;
  font-size: 15px;
  color: white;
}
.center h2{
  user-select: none;
  font-size: 28px;
  color: white;
}
.center h3{
  user-select: none;
  font-size: 56px;
  color: white;
}
.center h4{
  user-select: none;
  font-size: 21px;
  color: white;
}
#text1{
  user-select: none;
  color: white;
  font-size: 21px;
}
#text2{
  user-select: none;
  color: grey;
  font-size: 21px;
}
.center h5{
    user-select: none;
    font-size: 17px;
    color: white;
}
@keyframes slide {
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 450vw;
  }
}
