body{
  background-color: #303030;
}
h1{
  user-select: none;
  color: white;
  font-size: 57px;
}
h2{
  user-select: none;
  color: white;
  font-size: 23px;
}
h3{
  user-select: none;
  color: white;
  font-size: 17px;
}
hr{
  user-select: none;
  color: grey;
}
